// https://huemint.com/website-magazine/#palette=fcfaf6-fdcc51-191919-3a4127

$main-bg: #fff9fb;
$main-yellow: #fdcc51;
$main-primary: #191919;
$main-secondary: #3a4127;

$brown: #5e473d;
$poppy: #df2935;